/* global rest/setup styles */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; } 

.visuallyhidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
.App {
  text-align: center;
}
html{
  font-size: 62.5%;
  background: #f9f9f9;
}

body { 
  font-size: 1.8rem;
  font-family: 'Raleway', sans-serif;
}

.wrapper {
  max-width: 1600px;
  width: 90%;
  margin: 0 auto;
}

/* HEADER STYLE START */
.headerContainer {
  background: #ebf8e7;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  background: #ebf8e7;
}

.headerUser{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
}

/* .userImage {
  width: 25%;
} */
.userImage img {
  border-radius: 50%;
  border: 2px solid #00702e;
}
header h1 {
  text-transform: uppercase;
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: flex-start;
  letter-spacing: 1px;
  color: #3e3e3e;
}
h2 {
  text-transform: capitalize;
}

header .buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header button {
  background: #00702e;
  color: #ebf8e7;
  font-weight: bold;
  min-width: 150px;
  padding: 10px;
  margin: 10px;
}

header button:hover {
  background: #709d6c;
}
/* HEADER STYLE ENDS */

/* //SEARCH LIST STYLES */
.dropDaddy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  /* height: 100vh; */
}
.downshiftContainer {
  width: 55%;
}
.arrow {
  display: flex;
  justify-content: flex-end;
}
.arrow a img {
  width: 10%;
}
.arrow a {
 width: 300px;
 display: flex;
 align-items: center;
 justify-content: flex-end;
 text-decoration: none;
 color: #3e3e3e;
 font-weight: bold;
 padding-top: 25px;
}

.arrowLeft {
  /* display: flex;
  justify-content: flex-start; */
  width: 50%;
}

.arrowLeft a {
 width: 350px;
 display: flex;
 align-items: center;
 justify-content: flex-start;
 text-decoration: none;
 color: #3e3e3e;
 font-weight: bold;
 margin-left: 25px;
 /* padding-left: 10%; */
}

.arrowLeft a img {
  width: 10%;
}

.navigation button {
  padding: 10px;
  width: 175px;
  background: #377eb8;
  color: white;
  font-weight: bold;
  margin-right: 25px;
}

.navigation button:hover {
  background: #81bce3;
}
.navigation{
  width: 100%;
  display: flex;
  padding-top: 25px;
  justify-content: space-between;
  align-items: center;
}



.dropDaddy form {
  padding-top: 100px;
  display: flex; 
  flex-direction: column;
  align-items: center;
}
.dropdown {
  align-self: center;
  width: 225px;
  max-height: 300px;
  overflow-y: auto;
  position: relative;
  border-radius: 15px;
  box-shadow: 0px 0px 3px grey;
}
.mainSearch{
  display: flex;
  justify-content:  space-between;
  position: relative;
  min-height: 70vh;
}

.mainSearchImg {
  width: 50%;
  display: flex;
  align-items: flex-start;
  padding: 25px 0;
  justify-content: center;
}
.mainSearch img {
  width: 75%;

}
.mainSearch input {
  border-radius: 50px;
  border-style: none;
  border: 2px solid #00702e;
  width: 300px;
  height: 50px;
  padding: 25px;
  text-align: center;
}

.mainSearch input[type='text']:active,
.mainSearch input[type='text']:hover{
  transition: 0.15s ease-in;
  outline: none !important;
  box-shadow: 0 0 10px #228B22;
}


input:placeholder-shown{
  font-style: italic;
  color: black;
}
.mainSearch  input[type='submit']{
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 0px;
  background: #00702e;
  color: #ebf8e7;
  font-weight: bold;
  width: 200px;
}
.mainSearch  input[type='submit']:hover {
  background: #709d6c;
}

.dropdown:active{
  border: 1px solid darkblue;
}
.dropdown-item {
  border-bottom: 1px solid rgb(184, 184, 184);
  padding: 10px 5px;
}
.searchResults{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
  margin: 10px 0 30px 0;
  box-shadow: 0 4px 2px -2px grey;
  background: #f4f4f4;
  border-radius: 10px;
  
}
.searchResults p {
  width: 60%;
  /* padding-left: */
}

.searchResults img {
  width: 100px;
  padding-right: 20px;
}
/* END OF SEARCH LIST */


/* //DASHBOARD STYLES */

/* Button Styling */
button, input[type='submit'] {
    border: none;
    /* padding: 5px; */
    margin: 5px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.PieApp text, 
.LineApp text {
  font-weight: bold;
  height: 50px;
}

.PieApp {
  height: 400px;
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.PieApp h3 {
  font-size: 2rem;
}
.dashboard button {
  border-radius: 50px;
  text-align: center;
}
.LineApp {
  height: 400px;
  background: #f4f4f4;
}
main {
  background: #f4f4f4;
}
.dashboardAnon {
  width: 40%;
  text-align: center;
  margin: 0 auto;
  font-size: 1.4rem;
}
.goalsForm {
  padding-bottom: 25px;
}

.goalsForm img {
  width: 20%;
  margin: 0 auto;
}

.buttonBoxGallery {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
}

.buttonBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
}

.buttonBox button {
  /* border: 1px solid #00702e; */
  box-shadow: 0 4px 2px -2px grey;
  padding: 5px 20px;
  background: #377eb8;
  color: white;
  font-weight: bold;
}

.buttonBox button:hover {
  background: #81bce3;
}

.submitTracking {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  background-color: #00702e;
  padding: 10px 20px;
  border-radius: 50px;
}

.submitTracking:hover {
  transform: scale(1.2);
}

/* //Pie chart styles */
.placeHolderStuff {
  color: #00702e;
  font-size: 1rem;
}
.placeHolderStuff img {
  width: 30%;
}
.swal-button {
  border-radius: 50px;
  color: white;
  background-color:  #377eb8;;
  font-size: 1.4rem;
}
.swal-text {
  font-size: 2rem;
}

.swal-button--confirm:hover {
  background: white;
}

.swal-button--cancel:hover {
  background: red;
}

/* //END OF DASHBOARD STYLES */



button:focus,
input[type='submit']:focus {
  
}

/* //RANDOM TIP STYLES */
.dailyTip {
  padding: 15px 10px;
  margin: 0 auto;
  background: #ebf8e7;
}
.dailyTip h3 {
  color: #3e3e3e;
  text-transform: capitalize;
  font-size: 2.6rem;
  margin: 10px auto;
}
.dailyTip p {
  color: black;
  margin: 0 auto;
  font-size: 2rem;
  width: 50%;
  padding-bottom: 20px;
}
.nextTip,
.tweet {
  color: #f9f9f9;
  background: #00702e;
  border: 1px solid #f9f9f9;
  border-radius: 50px;
  padding: 10px;
  width: 150px;
  font-weight: bold;
  cursor: pointer;
  outline: inherit;
  margin-bottom: 5px;
}
.nextTip:hover, .tweet:hover {
  background: #709d6c;
}
/* END OF RANDOM TIP STYLES */


/* //MEDIA QUERIES */
@media only screen and (max-width: 650px) {
  /* //HEADER MOBILE */
  h1 {
    font-size: 3rem;
  }
  .profilePic {
    display: none;
  }
  .headerUser {
    padding-right: 5px;
    flex-direction: column;
    padding-right: 10px;
    width: 100%;
  }
  header .buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 1.5rem;
  }

  header .button {
     min-width: 100px;
  }
  header button {
    margin-bottom: 5px;

  }
  header h1 {
    padding-left: 10px;
  }
  /* DROPDOWN MOBILE */
  .searchResults{
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: space-aro;
    padding: 10px 10px;
  }
  .mainSearch{
    flex-direction: column;
  }
  .mainSearchImg{
    width: 100%;
  }
  .mainSearchImg img {
    width: 200px;
  }
  .dropDaddy {
    width: 100%;
  }
  .downshiftContainer {
    width: 100%;
  }
  .dropDaddy form {
    padding-top: 50px;
  }
  .searchResults p {
    width: 100%;
  }

  /* //dashboard mobile */
  .PieApp h3 {
    font-size: 1.5rem;
    width: 70%;
    margin: 0 auto;
    padding-top: 20px;
  }
  .placeHolderStuff img {
    width: 70%;
  }
  .placeHolderStuff img {
    padding-left: 20px;
  }
  .buttonBoxGallery {
    flex-direction: column;
    padding: 0;
  }
  .goalsForm img {
    width: 80%;
  }
  
  


  /* //daily tip styles */
  .dailyTip{
    margin: 0 auto;
  }
  .dailyTip p {
    width: 80%;
  }
}

/* Footer Styles */
footer {
  background: #00702e;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
}
footer img {
  margin-left: 10px;
  height: 25px;
}
footer .apiCredit {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-left: 5px;
}

footer .gitLink {
  display: flex;
  align-items: center;
}

footer a {
  padding: 0px 10px;
}

footer a {
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-content: center;
  align-items: center;
}

footer p {
  margin: 0;
  font-size: 1.6rem;
}

@media only screen and (max-width: 650px) {
    footer {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    }

    footer .gitLink {
      flex-direction: column;
    }
  }